nav{
    height: 90px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        width: 92px;
        height: 42;
        z-index: 2;
    }

    .links{
        height: 42px;
        width: 370px;
        color: white;
        z-index: 2;
       
        a{
            text-decoration: none;
            color: white;
        }
    }
}